.thick-dot-icon {
    background-color: blue;
    border-radius: 50%;
}

.active-thick-dot-icon {
    background-color: aqua;
    border-radius: 50%;
}

.detail-card-body {
    @media (min-width: 640px) {
        flex-wrap: nowrap !important;
    }
}